allow bluetooth adspd_prop:file read;
allow bluetooth bg_boot_complete_prop:file read;
allow bluetooth bg_daemon_prop:file read;
allow bluetooth boottime_prop:file read;

