allow shell cnd:binder call;
allow shell fwk_display_hwservice:hwservice_manager find;
allow shell fwk_scheduler_hwservice:hwservice_manager find;
allow shell fwk_sensor_hwservice:hwservice_manager find;
allow shell hal_atfwd_hwservice:hwservice_manager find;
allow shell hal_audio_default:binder call;
allow shell hal_audio_hwservice:hwservice_manager find;
allow shell hal_bluetooth_hwservice:hwservice_manager find;
allow shell hal_bluetooth_qti:binder call;
allow shell hal_camera_hwservice:hwservice_manager find;
allow shell hal_cne_hwservice:hwservice_manager find;
allow shell hal_display_color_hwservice:hwservice_manager find;
allow shell hal_display_config_hwservice:hwservice_manager find;
allow shell hal_display_postproc_hwservice:hwservice_manager find;
allow shell hal_drm_default:binder call;
allow shell hal_drm_hwservice:hwservice_manager find;
allow shell hal_esepowermanager_hwservice:hwservice_manager find;
allow shell hal_fingerprint_default:binder call;
allow shell hal_fingerprint_hwservice:hwservice_manager find;
allow shell hal_gatekeeper_default:binder call;
allow shell hal_gatekeeper_hwservice:hwservice_manager find;
allow shell hal_gnss_hwservice:hwservice_manager find;
allow shell hal_graphics_composer_hwservice:hwservice_manager find;
allow shell hal_health_hwservice:hwservice_manager find;
allow shell hal_iop_hwservice:hwservice_manager find;
allow shell hal_keymaster_hwservice:hwservice_manager find;
allow shell hal_light_default:binder call;
allow shell hal_light_hwservice:hwservice_manager find;
allow shell hal_memtrack_hwservice:hwservice_manager find;
allow shell hal_nfc_hwservice:hwservice_manager find;
allow shell hal_perf_hwservice:hwservice_manager find;
allow shell hal_power_hwservice:hwservice_manager find;
allow shell hal_sensors_hwservice:hwservice_manager find;
allow shell hal_telephony_hwservice:hwservice_manager find;
allow shell hal_thermal_hwservice:hwservice_manager find;
allow shell hal_usb_hwservice:hwservice_manager find;
allow shell hal_vibrator_hwservice:hwservice_manager find;
allow shell hal_wifi_hwservice:hwservice_manager find;
allow shell hal_wifi_supplicant_hwservice:hwservice_manager find;
allow shell nxpnfc_hwservice:hwservice_manager find;
allow shell rild:binder call;

